---
layout: post
date:  2020-03-10 12:00:00
link: https://www.bmj.com/content/369/bmj.m1808
story_number: 5
title: "Covid Corner: Test results"
image_url: https://www.bmj.com/content/bmj/369/bmj.m1808/F2.medium.jpg
---

[Paper from the BMJ with an interactive infographic on Covid-19 testing](https://www.bmj.com/content/369/bmj.m1808). Useful for understanding diagnosis, and classification in general. Interpreting test results is something doctors, patients and the rest all struggle with. Firstly, it is hard to assess how accurate a test is for a new illness:

> The lack of a clear-cut “gold-standard” is a challenge for evaluating covid-19 tests; pragmatically, clinical adjudication may be the best available “gold standard"

And even when you do know what the baseline is, clinicians and patients struggle to interpret results:

> Sensitivity and specificity can be confusing terms that may be misunderstood. Sensitivity is the proportion of patients with disease who have a positive test, or the true positive rate. Specificity is the proportion of patients without disease who have a negative test, or true negative rate.
>

Interpreting a test result depends not only on how accurate the test is but also on the 'pre-test probability' of having the disease.

> Clinicians use a heuristic ... to settle on a pre-test probability (called the anchor)... This heuristic is a useful short cut but comes with the potential for bias.

If there is one bit of statistics that should be taught in schools that everybody should understand it is interpreting binary test results. Read this and you will be a bit clearer.
