---
layout: default
---
<meta property="og:image" content="/assets/images/ortom/Ortom.png">
<div>
  {{ content }}
</div>

<ul>
  {% for post in site.posts %}

      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time>
      </p>
      {{ post.excerpt }}
      <a href="{{ post.url }}">read more...</a>
 <br>
 <br>
  {% endfor %}
</ul>
