---
layout: default-nowrapper
---

<meta property="og:image" content="/assets/images/ortom/Ortom.png" />
<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
></script>
<div>
  {{ content }}
  <div class="banner">
    <div class="banner__left">
      <h1>Solving data problems</h1>
      <h2>Make AI work for you</h2>
    </div>
    <div class="banner__right">
      <img class="banner__image" src="../assets/images/Boxes.png" />
    </div>
  </div>
  <div class="content">
    <div class="section">
      <div class="section__right">
        <img class="section__image" src="../assets/images/diagram.png" />
      </div>
      <div class="section__left">
        <h2>AI</h2>
        <p>
          Ortom can advise on data science, AI strategy and related topics. This
          can be particularly useful for companies with lots of data but no data
          scientists.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="section__right">
        <h2>Data Science</h2>
        <p>
          Ortom can advise on data science, AI strategy and related topics. This
          can be particularly useful for companies with lots of data but no data
          scientists.
        </p>
      </div>
      <div class="section__left">
        <img class="section__image" src="../assets/images/line-chart.png" />
      </div>
    </div>
    <div class="section">
      <div class="section__right">
        <img class="section__image" src="../assets/images/timeline.png" />
      </div>
      <div class="section__left">
        <h2>Training & Recruitment</h2>
        <p>
          Ortom can help you develop existing data science staff through
          training - particularly in statistics, applied data science, and R. We
          can also help you hire the best new data scientists - finding and
          sifting through candidates and assisting with the interview process.
        </p>
      </div>
    </div>
    <div class="contact">
      <button
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ortom/60min'});return false;"
      >
        <h3>Book a consultation</h3>
      </button>
    </div>
  </div>
</div>
